@import './default.less';
@import './loading.less';
ul,li {
    list-style: none;
}
.clearfix{
    &::after{
        content: '';
        clear: both;
        display: block;
        visibility: hidden;
    }
}
.container{
    display: flex;
    .nav-left{
        background-color: #001529;
        color: #fff;
        height: calc(100vh);
    }
    .main{
        background-color: @colorL;
        height: calc(100vh);
        overflow: auto;
    }
    .content{
        position: relative;
        padding: 20px;
    }
}
.operate-wrap {
    button{
        margin-right: 10px;
    }
    
}